<br> <br> <br> <br> <br> <br> <br> 
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  MINECRAFT:</b> </h1> <br>

<img src="./assets/min14.jpeg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/min1.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

 

<img src="./assets/min2.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/min3.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>  <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
    Minecraft is a sandbox video game developed by Mojang Studios. The game was created by Markus "Notch" Persson in the Java <br>
    programming language. Following several early private testing versions, it was first made public in May 2009 before fully <br>
    releasing in November 2011, with Notch stepping down and Jens "Jeb" Bergensten taking over development. Minecraft has<br>
     since been ported to several other platforms and is the best-selling video game of all time, <br>
    with over 238 million copies sold and nearly 140 million monthly active users as of 2021.</p>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.6 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/MmB9b5njVbA?autoplay=1&mute=1">
</iframe>

<br> 
<br>
<br>
<br> 
<br>


<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> DOWNLOAD: </h1>


<br>
<a href="https://www.minecraft.net/en-us" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">DOWNLOAD</a>