<br> <br> <br> <br> <br> <br> <br> 
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  FLIGHT SIMULATOR 2020: </b> </h1> <br>

<img src="./assets/flight1.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/flight2.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 


<img src="./assets/flight3.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/flight4.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>  <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
    Microsoft Flight Simulator (colloquially known as Microsoft Flight Simulator 2020)[b] is an amateur flight simulator developed <br>
    by Asobo Studio and published by Xbox Game Studios. It is an entry in the Microsoft Flight Simulator series <br>
    which began in 1982, and was preceded by Microsoft Flight Simulator X in 2006. <br> </p>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.2 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/TYqJALPVn0Y?autoplay=1&mute=1">
</iframe>

<br> 
<br>
<br>
<br> 
<br>


<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> DOWNLOAD: </h1>


<br>
<a href="https://www.flightsimulator.com/" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">DOWNLOAD</a>