<br> <br> <br> <br> <br> <br> <br> 
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  FORZA HORIZON 5:</b> </h1> <br>

<img src="./assets/forza1.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/forza2.jpeg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

 

<img src="./assets/forza3.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/forza4.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>  <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
    Forza Horizon 5 is a 2021 racing video game developed by Playground Games and published by Xbox Game Studios. <br>
    It is the fifth Forza Horizon title and twelfth main instalment in the Forza series. The game is set in a <br>
    fictionalised representation of Mexico. It was released on 9 November 2021 for Microsoft Windows, Xbox One, <br>
     and Xbox Series X/S.<br> </p>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.7 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/YY2GX_7wR7Y?autoplay=1&mute=1">
</iframe>

<br> 
<br>
<br>
<br> 
<br>


<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> ORIGINAL SITE: </h1>


<br>
<a href="https://www.xbox.com/en-IN/games/forza-horizon-5" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">CLICK HERE</a>