<br> <br> <br> <br> <br> <br> <br> 
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  FREE FIRE:</b> </h1> <br>

<img src="./assets/ff1.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/ff2.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

 

<img src="./assets/ff4.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/ff5.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>  <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
    Garena Free Fire is an online-only action-adventure battle royale game played in third person perspective.<br>
    A battle royale match consists of up to 50 players parachuting onto an island in search of weapons and equipment to kill the other players. <br>
     Players are free to choose their starting position and take weapons and supplies to extend their battle life.
</p> <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.4 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/IGEc06Eypkg?autoplay=1&mute=1">
</iframe>

<br> 
<br>
<br>
<br> 
<br>


<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> DOWNLOAD: </h1>


<br>
<a href="https://ff.garena.com/" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">DOWNLOAD</a>