<br> <br> <br>
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  BATTLE GROUNDS MOBILE INDIA ( BGMI ):</b> </h1> <br>

<img src="./assets/pubg1.jpeg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/pubg2.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>

<img src="./assets/pubg3.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>

<img src="./assets/pubg4.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> <br>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Battlegrounds 
    Mobile India is a player versus player shooter game in which up to one hundred players fight <br> in a battle royale,
     a type of large-scale last man standing deathmatch where players fight to remain the last alive. <br>Players can choose
      to enter the match solo, or as a small team of upto four.<br>  These are the types of maps available in BGMI:</p> 


<ul style="color: white; font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <li> Erangel </li> 
    <li> Livik </li> 
    <li> Miramar </li> 
    <li> Shanok </li>
    <li> Vikendi </li>
    <li> Karakin </li>
</ul> <br>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.5 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/w91k6FFy6fc?autoplay=1&mute=1">
</iframe>


<br> 
<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> DOWNLOAD: </h1>


<br>
<a href="https://www.battlegroundsmobileindia.com/" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">DOWNLOAD</a>




<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> 