<br> <br> <br> <br> <br> <br> <br> 
<h1  style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">  <b>  FLIGHT SIMULATOR 2020: </b> </h1> <br>

<img src="./assets/war1.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/war2.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 


<img src="./assets/war4.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br> 

<img src="./assets/war3.jpg" style="height: 300px;border: 2px solid black;  width: 600px; float:left;"> 
<br> <br> <br> <br> <br> <br> 
<br> <br> <br> <br> <br> <br> <br>  <br> 

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   ABOUT:</h2> 
<br>

<p style="color: white; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
    War Thunder is a free-to-play vehicular combat multiplayer video game developed and published by Gaijin Entertainment.<br>
     Announced in 2011, it was first released in November 2012 as an open beta with a worldwide release in January 2013; <br>
     it had its official release on 21 December 2016.[11][7] It has a cross-platform format for Microsoft Windows, macOS,<br>
      Linux, PlayStation 4, Xbox One, PlayStation 5, Xbox Series X, Xbox Series S, and Shield Android TV.
    <br> </p>

<h2 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; "> RATINGS: </h2>
<br> <br>

<img src="./assets/star1.jpg" style="height: 50px;border: 2px solid black;  width: 150px; float:left;"> 
<br> <br> <br> 

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">   4.1 STARS  </h1> 
<br>
<br>

<h1 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 35px;"> TRAILER: </h1>

<iframe width="800" height="400"
src="https://www.youtube.com/embed/pzgPXOw2plI?autoplay=1&mute=1">
</iframe>

<br> 
<br>
<br>
<br> 
<br>


<h1 style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size: 35px;"> DOWNLOAD: </h1>


<br>
<a href="https://warthunder.com/en/" class="btn btn-dark" role="button" style= " height: 50px; width: 120px; background-color: black;">DOWNLOAD</a>